/**
 * @file
 * Extended Pirobox CSS configuration.
 */

.caption p {
  min-height: 18px;
}
.caption .number {
  width: auto;
  white-space: nowrap;
}
a.gallerycover-no, img.gallerycover-no {
  display: none;
}
.field-type-image {
  padding: 0.25em 0 0.5em 0;
}
div.pirobox-field-item-sbs {
  display: inline;
}
a.pirobox-item-sbs img {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.views-field a.pirobox-item-sbs img {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}